* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s;

}

body {
    width: 100%;
    background-color: #212121;
}

.matrix2 {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 10px 0;

    padding-left: 20px;
    margin: 0 5px;

    display: grid;
    grid-template-columns: repeat(2, 30px);
    gap: 10px;
}